server:
  port: 8081
spring :
  application:
    name: resumeApi
    auth-url: /resumeApi/v1/auth
    resource-url: /resumeApi/v1/candidate/
  datasource :
    url : jdbc:mysql://localhost:3306/resume?createDatabaseIfNotExist=true
    username: root
    password :
    driver-class-name : com.mysql.cj.jdbc.Driver
  jpa :
    show-sql: true
    generate-ddl : true
    hibernate:
      ddl-auto : update
      naming:
        implicit-strategy : org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
        physical-strategy : org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
logging:
  level:
    org:
      springframework:
        web: DEBUG
      hibernate: ERROR
      vivek: DEBUG
token:
  signing:
    key: 413F4428472B4B6250655368566D5970337336763979244226452948404D